.modal-container{
    width: 60rem;
    position: relative;
    background-color: white;
    backdrop-filter: none;
    border-radius: 5px;
    padding: 2%;
}

.resaltar{
    font-weight: 600;
}

.cancion{
    transition: 0.3s;
}

.cancion:hover{
    color: red;
}

.close{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    outline: none;
    padding: 0;
    border-radius: 5px;
    padding: 5px;
}

.close:hover {
    background-color: rgb(243, 243, 243);
}

.close-icon{
    width:30px;
    height: 30px;
    padding: 0;
    fill: aqua;
}

.open{
    opacity: 1;
    display: flex;
}

@media screen and (max-width:480px) {
    .modal-container{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        height: 30rem;
        padding: 5%;
        overflow-y: scroll;
        scroll-behavior: smooth;
        scrollbar-color: aquamarine;
    }
  }