.app{
  background-color: aliceblue;
  border-radius: 5px;
  width: 40rem;
  padding: 2rem;
  box-sizing: border-box;
}

.teamo{
  background-color: transparent;
}

h1{
  text-align: center;
}

@media screen and (max-width:480px) {
  .app{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

