.app{
  background-color: aliceblue;
  border-radius: 5px;
  width: 40rem;
  padding: 1rem;
  box-sizing: border-box;
}

.teamo{
  background-color: transparent;
}

h1{
  text-align: center;
}

.w-100{
  width: 100%;
}

@media screen and (max-width:480px) {
  .app{
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 0;
  }
}

